extends /templates/authLayout
block head
  title Timesheets
  link(href="/css/datepicker.css" rel="stylesheet")
  script(src="/frameworks/bootstrap-datepicker.js")
  script(src="/javascript/hrsystem/apps/employee/timesheet.js")
  script(src="/frameworks/jqueryFileUpload/jquery.ui.widget.js")
  script(src="/frameworks/jqueryFileUpload/jquery.iframe-transport.js")
  script(src="/frameworks/jqueryFileUpload/jquery.fileupload.js")

  style(type='text/css').
    table input[type="text"] {
       width: 100%; 
       box-sizing: border-box;
       -webkit-box-sizing:border-box;
       -moz-box-sizing: border-box;
    }

block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/a/home") Home
    li
      a(href="/c/#{company.companyId}/emp/empHome") My Tasks
    li.active Timesheet
block content
  .container(ng-app="timeSheet",ng-controller="timeSheetCtrl" ng-cloak)
    form.form-inline
      .form-group.paddingRight10
        .input-group
          .input-group-addon.width100 
            b Date
          input.form-control.datepicker#selectedDate(type="text")
      .form-group.paddingRight10
        .input-group
          .input-group-addon.width100 
            b Total Hrs
          label.form-control {{totalHrs}}
      .form-group.paddingRight10
        .input-group
          .input-group-addon.width100 
            b Status
          label.form-control.alert-danger(ng-if="timeSheetObj.status=='new'") New  
          label.form-control.alert-info(ng-if="timeSheetObj.status=='submit'") Submitted 
          label.form-control.alert-success(ng-if="timeSheetObj.status=='approved'") Approved

    form.form-horizontal(role="form") 
      .table-responsive
        table.table
          tr
            th.col-sm-2
              div Task or Project
            th.col-sm-1 
              div {{days[0]}} 
              div {{tableHeader[0]}}
            th.col-sm-1 
              div {{days[1]}}  
              div {{tableHeader[1]}}
            th.col-sm-1 
              div {{days[2]}} 
              div {{tableHeader[2]}}
            th.col-sm-1 
              div {{days[3]}}  
              div {{tableHeader[3]}}
            th.col-sm-1 
              div {{days[4]}}  
              div {{tableHeader[4]}}
            th.col-sm-1 
              div {{days[5]}}  
              div {{tableHeader[5]}}
            th.col-sm-1 
              div {{days[6]}} 
              div {{tableHeader[6]}}
            th.col-sm-2 
              div Comments
            th.col-sm-1 
              div  
          tr(ng-repeat="task in timeSheetObj.tasks")
            td
              select(ng-disabled="{{timeSheetObj.status=='approved'}}" ng-options="companyTask.id as companyTask.name for companyTask in companyTasks" data-ng-model="task['name']" style="width:100%;")
            td 
              input(type="text" data-ng-model="task[days[0]]" ng-change="updateValues()" ng-disabled="{{timeSheetObj.status=='approved'}}")
            td
              input(type="text" data-ng-model="task[days[1]]" ng-change="updateValues()" ng-disabled="{{timeSheetObj.status=='approved'}}")
            td
              input(type="text" data-ng-model="task[days[2]]" ng-change="updateValues()" ng-disabled="{{timeSheetObj.status=='approved'}}")
            td
              input(type="text" data-ng-model="task[days[3]]" ng-change="updateValues()" ng-disabled="{{timeSheetObj.status=='approved'}}")
            td
              input(type="text" data-ng-model="task[days[4]]" ng-change="updateValues()" ng-disabled="{{timeSheetObj.status=='approved'}}")
            td
              input(type="text" data-ng-model="task[days[5]]" ng-change="updateValues()" ng-disabled="{{timeSheetObj.status=='approved'}}")
            td
              input(type="text" data-ng-model="task[days[6]]" ng-change="updateValues()" ng-disabled="{{timeSheetObj.status=='approved'}}")
            td
              input(type="text" data-ng-model="task['comments']" ng-disabled="{{timeSheetObj.status=='approved'}}")   
            td(ng-if="timeSheetObj.status!='approved'")
              button.btn.btn-default(type="button" ng-click="removeTask($index)")
                span.glyphicon.glyphicon-remove  
          tr.success
            td
              button.btn.btn-link(ng-click="addNewTask()" ng-if="timeSheetObj.status!='approved'")
                b Add New Row
            td
              label {{subTotals[days[0]]}}
            td
              label {{subTotals[days[1]]}} 
            td
              label {{subTotals[days[2]]}}
            td
              label {{subTotals[days[3]]}}  
            td
              label {{subTotals[days[4]]}} 
            td
              label {{subTotals[days[5]]}}  
            td
              label {{subTotals[days[6]]}}
            td
              label
      div(ng-repeat="timeSheetDoc in timeSheetDocs")
        a.marginRight10(href="/rest/emp/downloadTimesheetDoc?id={{timeSheetDoc.id}}") {{timeSheetDoc.orginalName}}
        button.btn.btn-link(ng-click="deleteTimesheetDoc(timeSheetDoc.id)" ng-if="timeSheetObj.status!='approved'")
          span.glyphicon.glyphicon-trash.btn-link

      input#fileupload(type="file" name="files" ng-disabled="timeSheetObj.status=='approved'")
      div#progress
        div.bar(style="width: 0%;")

      .div(ng-if="timeSheetObj.status!='approved'")
        br
        button.btn.btn-primary(type="submit" ng-click="saveTimeSheet()") Submit Timesheet

    div(ng-if="timeSheetObj.status!='new'")
      b(ng-if="timeSheetObj.status=='approved'") Timesheet approved.
      div Submitted On : {{timeSheetObj.submittedOn | date : 'M/d/yy h:mm a'}} 
      div(ng-if="timeSheetObj.status=='approved'") Approved On : {{timeSheetObj.approvedOn | date : 'M/d/yy h:mm a'}} 
      div(ng-if="timeSheetObj.status=='approved'") Approved By : {{timeSheetObj.approvedBy}}  


