extends /templates/authLayout
block head
block content
  .container.paddingTop10
    .row
      if user.pid.indexOf(1001)>=0
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-primary
            .panel-heading 
              b Tasks
            .panel-body
              if user.pid.indexOf(1001)>=0
                div.padding5 
                  a(href="/c/#{company.companyId}/emp/timesheet") Timesheets
