# From https://github.com/github/gitignore/raw/master/Global/OSX.gitignore

.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# From https://github.com/github/gitignore/raw/master/Global/Archives.gitignore

# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma

#packing-only formats
*.iso
*.tar

#package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm


# From https://github.com/github/gitignore/blob/master/Global/IntelliJ.gitignore

*.iml
*.ipr
*.iws
.idea/

app
node_modules
