extends /templates/authLayout
block head
  title Account Settings
block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/a/home") Home
    li.active Account Settings
block content
  .container
    .row
      .col-xs-12.col-sm-6.col-md-4
        .panel.panel-primary
          .panel-heading 
            b Password
          .panel-body
            div.padding5 
              a(href="/c/#{company.companyId}/a/changePassword") Change Password
