extends /templates/authLayout
block head
  title Change Password
  script(type='text/javascript').
    function validatePasswords() {

      if (!$("#currentPassword").val() || $("#currentPassword").val().length < 8) {
        alert('Please enter valid current password');
        return false;
      } else if (!$("#newPassword").val() || $("#newPassword").val().length < 8 || !$("#reEnterNewPassword").val() || $("#reEnterNewPassword").val().length < 8) {
        alert('New Password must be atleast 8 characters');
        return false;
      } else if ($("#newPassword").val() != $("#reEnterNewPassword").val()) {
        alert('Password did not match');
        return false;
      }
      return true;
    }
block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/a/home") Home
    li
      a(href="/c/#{company.companyId}/a/accountSetting") Account Settings
    li.active Change Password  
block content
  .container
    br
    form.form-horizontal(action="/c/#{company.companyId}/a/changePassword" method="post")
      .form-group
        label.col-sm-2.control-label(for="currentPassword") Current Password
        .col-sm-10
          input.form-control#currentPassword(type="password" name="currentPassword" placeholder="Enter Current Password")
      .form-group
        label.col-sm-2.control-label(for="newPassword") New Password
        .col-sm-10
          input.form-control#newPassword(type="password" name="newPassword" placeholder="Enter New Password") 
      .form-group
        label.col-sm-2.control-label(for="reEnterNewPassword") Confirm New Password
        .col-sm-10
          input.form-control#reEnterNewPassword(type="password" name="reEnterNewPassword" placeholder="Confirm New Password")
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type="submit" onClick="return validatePasswords()") Save        
