extends /templates/layout
block head
  title Update Password
  script(type='text/javascript').
    function validatePasswords() {
      if (!$("#newPassword").val() || $("#newPassword").val().length < 8 || !$("#reEnterNewPassword").val() || $("#reEnterNewPassword").val().length < 8) {
        alert('Password must be atleast 8 characters');
        return false;
      } else if ($("#newPassword").val() != $("#reEnterNewPassword").val()) {
        alert('Password did not match');
        return false;
      }
      return true;
    }

block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/signin") Home
    li.active Create Password
    
block content
    if verificationObj
      .alignCenter
        h4 Update your new password below. 
    form.form-horizontal(action="/c/#{verificationObj.companyId}/#{verificationObj.signInId}/#{verificationObj.verificationId}/setNewPassword" method="post")
      .form-group
        label.col-sm-3.control-label(for="newPassword") New Password
        .col-sm-6
          input.form-control#newPassword(name="newPassword",type="password" placeholder="Enter New Password" required)  
      .form-group
        label.col-sm-3.control-label(for="reEnterNewPassword") Confirm New Password
        .col-sm-6
          input.form-control#reEnterNewPassword(name="reEnterNewPassword",type="password" placeholder="Confirm New Password" required)
      .form-group
        .col-sm-offset-3.col-sm-10
          button.btn.btn-primary(type="submit",onClick="return validatePasswords()") Save Password     