extends /templates/layout
block head
  title Update Password
  script(type='text/javascript').
    function validatePasswords() {
      if (!$("#newPassword").val() || $("#newPassword").val().length < 8 || !$("#reEnterNewPassword").val() || $("#reEnterNewPassword").val().length < 8) {
        alert('Password should be atleast 8 characters');
        return false;
      } else if ($("#newPassword").val() != $("#reEnterNewPassword").val()) {
        alert('Password did not match');
        return false;
      }
      return true;
    }

block content
  .container
    ol.breadcrumb
      li
        a(href="/c/#{company.companyId}/signin") Home
      li.active Create Password 
    if verificationObj
      .alert.alert-success
        .alignCenter
          b Update your new password. 
    form.form-horizontal(action="/c/#{verificationObj.companyId}/#{verificationObj.signInId}/#{verificationObj.verificationId}/setNewPassword" method="post")
      .form-group
        label.col-sm-3.control-label(for="newPassword") New Password
        .col-sm-9
          input.form-control#newPassword(name="newPassword",type="password" placeholder="Enter New Password")  
      .form-group
        label.col-sm-3.control-label(for="reEnterNewPassword") Re-Enter New Password
        .col-sm-9
          input.form-control#reEnterNewPassword(name="reEnterNewPassword",type="password" placeholder="Re-Enter New Password")
      .form-group
        .col-sm-offset-3.col-sm-10
          button.btn.btn-primary(type="submit",onClick="return validatePasswords()") Save Password     