extends /templates/layout
block head
  link(href="/css/signin.css" rel="stylesheet")
  title Welcome to #{company.companyName}
block content
  .container
    h2.form.form-signin-heading.alignCenter One account. All your data @ #{company.companyName}
    form.form-signin(role="form")
      input.form-control(placeholder="User Id" required autofocus)
      input.form-control(type="password" placeholder="Password" required)
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
