extends /templates/authLayout
block head
  title Approve Timesheets
  link(href="/css/datepicker.css" rel="stylesheet")
  script(src="/frameworks/bootstrap-datepicker.js")
  script(src="/javascript/hrsystem/apps/hr/approveTimesheet.js")
  style(type='text/css').
    table input[type="text"] {
       width: 100%; 
       box-sizing: border-box;
       -webkit-box-sizing:border-box;
       -moz-box-sizing: border-box;
    }

block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/a/home") Home
    li
      a(href="/c/#{company.companyId}/hr/hrHome") HR
    li
      a(href="/c/#{company.companyId}/hr/listTimesheets") List Timesheets  
    li.active Approve Timesheet
block content
  .container(ng-app="timeSheet",ng-controller="timeSheetCtrl" ng-cloak)
    form.form-inline
      .form-group.paddingRight10
        .input-group
          .input-group-addon.width100 
            b Date
          input.form-control.datepicker#selectedDate(type="text")
      .form-group.paddingRight10
        .input-group
          .input-group-addon.width100 
            b Total Hrs
          label.form-control {{totalHrs}}
      .form-group.paddingRight10
        .input-group
          .input-group-addon.width100 
            b Status
          label.form-control.alert-danger(ng-if="timeSheetObj.status=='new'") New  
          label.form-control.alert-info(ng-if="timeSheetObj.status=='submit'") Submitted  
          label.form-control.alert-success(ng-if="timeSheetObj.status=='approved'") Approved

    form.form-horizontal(role="form") 
      .form-group   
        .table-responsive
          table.table
            tr
              th.col-sm-3
                div Task or Project
              th.col-sm-1 
                div {{days[0]}} 
                div {{tableHeader[0]}}
              th.col-sm-1 
                div {{days[1]}}  
                div {{tableHeader[1]}}
              th.col-sm-1 
                div {{days[2]}} 
                div {{tableHeader[2]}}
              th.col-sm-1 
                div {{days[3]}}  
                div {{tableHeader[3]}}
              th.col-sm-1 
                div {{days[4]}}  
                div {{tableHeader[4]}}
              th.col-sm-1 
                div {{days[5]}}  
                div {{tableHeader[5]}}
              th.col-sm-1 
                div {{days[5]}} 
                div {{tableHeader[6]}}
            tr(ng-repeat="task in timeSheetObj.tasks")
              td
                label {{task['name']}}
              td 
                label {{task[days[0]]}}
              td
                label {{task[days[1]]}}
              td
                label {{task[days[2]]}}
              td
                label {{task[days[3]]}}
              td
                label {{task[days[4]]}}
              td
                label {{task[days[5]]}}
              td
                label {{task[days[6]]}} 
            tr.success
              td
                label Total 
              td
                label {{subTotals[days[0]]}}
              td
                label {{subTotals[days[1]]}} 
              td
                label {{subTotals[days[2]]}}
              td
                label {{subTotals[days[3]]}}  
              td
                label {{subTotals[days[4]]}} 
              td
                label {{subTotals[days[5]]}}  
              td
                label {{subTotals[days[6]]}}
              td
                label
      .alert.alert-success.alignCenter(role="alert" ng-if="timeSheetObj.status=='approved'") 
        b This Timesheet is approved.             
      .form-group(ng-if="timeSheetObj.status=='submit'")
        button.btn.btn-primary(type="submit" ng-click="approveTimeSheet()") Approve Timesheet