extends /templates/authLayout
block head
  title HR Home
block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/a/home") Home
    li.active HR
block content
  .container
    .row
      if user.pid.indexOf(2)>=0 || user.pid.indexOf(3)>=0
        .col-xs-12.col-sm-6.col-md-3
          .panel.panel-primary
            .panel-heading 
              b Accounts Management
            .panel-body
              if user.pid.indexOf(2)>=0
                div.padding5 
                  a(href="/c/#{company.companyId}/hr/updateEmployee") New Account
              if user.pid.indexOf(3)>=0    
                div.padding5
                  a(href="/c/#{company.companyId}/hr/listAccounts") List Accounts
      if user.pid.indexOf(4)>=0
        .col-xs-12.col-sm-6.col-md-3
          .panel.panel-primary
            .panel-heading 
              b Timesheets Management
            .panel-body
              if user.pid.indexOf(4)>=0
                div.padding5 
                  a(href="/c/#{company.companyId}/hr/listTimesheets") View Timesheets         
