extends /templates/authLayout
block head
  title List Accounts
  script(src="/javascript/hrsystem/apps/hr/timesheetList.js")
block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/a/home") Home
    li
      a(href="/c/#{company.companyId}/hr/hrHome") HR
    li.active List Timesheets  
block content
  .container(ng-app="timesheetList",ng-controller="timesheetListCtrl" ng-cloak)
    .table-responsive
      table.table.table-bordered.table-hover
        tr.info
          th.col-sm-2
            div Employee Id
          th.col-sm-2
            div First Name
          th.col-sm-2
            div Middle Name  
          th.col-sm-2
            div Last Name
          th.col-sm-2
            div Supervisor Id
        tr(ng-repeat="emp in empList")
          td
            div 
              a(href="/c/#{company.companyId}/emplid/{{emp.emplid}}/hr/approveTimesheet") {{emp.emplid}}  
          td
            div {{emp.firstName}}
          td
            div {{emp.middleName}}  
          td
            div {{emp.lastName}}
          td
            div {{emp.supervisorId}}
                   
