extends /templates/authLayout
block head
  title Update Employee
  script(src="/javascript/hrsystem/apps/employee/updateEmployee.js")
block breadcrumbs
  ol.breadcrumb
    li
      a(href="/c/#{company.companyId}/a/home") Home
    li
      a(href="/c/#{company.companyId}/hr/hrHome") HR  
    li.active Update Employee
block content
  .container(ng-app="updateEmployee",ng-controller="updateEmployeeCtrl")
    form.jumbotron.form-horizontal(ng-submit="updateEmployee()")
      .form-group
        label.col-sm-2.control-label(for="firstName") First Name
        .col-sm-10
          input.form-control#firstName(type="text" placeholder="Employee First Name" required ng-model="empObj.firstName")
      .form-group
        label.col-sm-2.control-label(for="middleName") Middle Name
        .col-sm-10
          input.form-control#middleName(type="text" placeholder="Employee Middle Name" ng-model="empObj.middleName")
      .form-group
        label.col-sm-2.control-label(for="lastName") Last Name
        .col-sm-10
          input.form-control#lastName(type="text" placeholder="Employee Last Name" required ng-model="empObj.lastName") 
      .form-group
        label.col-sm-2.control-label(for="signInId") SignIn Id
        .col-sm-6
          input.form-control#signInId(type="text" placeholder="Employee SignIn Id" required ng-model="empObj.signInId")
        .col-sm-4
          button.btn.btn-link.btn-xs(type="button" ng-click="checkSigninIdAvailability()") Check Availability
      .form-group
        label.col-sm-2.control-label(for="email") Email
        .col-sm-10
          input.form-control#email(type="email" placeholder="Employee Email" required ng-model="empObj.email") 
      .form-group
        label.col-sm-2.control-label(for="emplId") Employee Id
        .col-sm-6
          input.form-control#emplId(type="text" placeholder="Employee Id" required ng-model="empObj.emplId")
        .col-sm-4
          button.btn.btn-link.btn-xs(type="button" ng-click="getNextEmplid()") Generate Next Employee Id
      .form-group
        label.col-sm-2.control-label(for="supervisorId") Supervisor Id
        .col-sm-10
          input.form-control#supervisorId(type="text" placeholder="Supervisor Employee Id" ng-model="empObj.supervisorId") 
      .form-group
        label.col-sm-2.control-label(for="roles") Security Roles
        .col-sm-5
          select.form-control(size="4" style="width:100%" ng-model="selectedRemoveRoleObj" ng-options="companyRole.roleName for companyRole in empObj.roleList")
          button.btn.btn-primary.btn-xs(type="button" ng-click="removeRole()") Remove  
        .col-sm-5
          select.form-control(size="4" style="width:100%" ng-model="selectedAddRoleObj" ng-options="companyRole.roleName for companyRole in companyRoles")
          button.btn.btn-primary.btn-xs(type="button" ng-click="addRole()") Add 
      .form-group
        label.col-sm-2.control-label(for="status") Status
        .col-sm-10
          label.form-control New Employee             
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type="submit") Save Employee              
    
