body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.alignCenter {
  text-align:center;
}

.paddingTop10 {
  padding-top: 10px;
}

.paddingTop5 {
  padding-top: 5px;
}

.noscreen {
  display: none;
}

.breadcrumb {
  margin-bottom: 5px;	
}
