html,body{
    height: 100%
}

body {
  color: #5a5a5a;
  padding-top: 50px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -30px;
}

.alignCenter {
  text-align:center;
}

.padding10 {
  padding: 10px;
}

.padding5 {
  padding: 5px;
}

.paddingTop10 {
  padding-top: 10px;
}

.paddingTop5 {
  padding-top: 5px;
}

.paddingRight10 {
  padding-right: 10px;
}

.noscreen {
  display: none;
}

.breadcrumb {
  margin-bottom: 5px;	
}

.contentBackground {
  background-color: #e9eaed;
  height: 100%;
}

.width100 {
  width:100px;
}
