html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.alignCenter {
  text-align:center;
}

.padding10 {
  padding: 10px;
}

.padding5 {
  padding: 5px;
}

.paddingTop10 {
  padding-top: 10px;
}

.paddingTop5 {
  padding-top: 5px;
}

.paddingRight10 {
  padding-right: 10px;
}

.marginRight10 {
  margin-right: 10px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.noscreen {
  display: none;
}

.breadcrumb {
  margin-bottom: 5px;	
}

.contentBackground {
  background-color: #e9eaed;
  height: 100%;
}

.width100 {
  width:100px;
}
