html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/frameworks/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/index.css" rel="stylesheet")
    link(href="/css/menu.css" rel="stylesheet")
    script(src="/frameworks/angular/angular.min.js")
    script(src="/frameworks/angular/angular-route.min.js")
    script(src="/frameworks/angular/angular-resource.min.js")
    script(src="/frameworks/jquery-1.11.1.min.js")
    script(src="/frameworks/bootstrap/js/bootstrap.min.js")
    block head
    title Welcome
  body
    div
      include authMenu
      .container
        block breadcrumbs
        if message && message.successMsg
          .alert.alert-success.alignCenter.container 
            b #{message.successMsg}
        if message && message.errMsg
          .alert.alert-danger.alignCenter.container 
            b #{message.errMsg}
      block content
    include footer