.navbar-wrapper.navBarBottom
  .container
    .navbar.navbar-default.navbar-static-top.customNavBar(role="navigation")
      .container
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/") 5 Reports     
