html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/frameworks/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/index.css" rel="stylesheet")
    link(href="/css/menu.css" rel="stylesheet")
    <script src="/frameworks/angular/angular.min.js"></script>
    <script src="/frameworks/angular/angular-route.min.js"></script>
    <script src="/frameworks/angular/angular-resource.min.js"></script>
    <script src="/frameworks/jquery-1.11.1.min.js"></script>  
    <script src="/frameworks/bootstrap/js/bootstrap.min.js"></script>
    block head
    title Welcome
  body
    include menu
    .container(style='margin-top:50px;')
      if message && message.successMsg
        .container.paddingTop5
          .alert.alert-success.alignCenter 
            b #{message.successMsg}
      if message && message.errMsg
        .container.paddingTop5
          .alert.alert-danger.alignCenter 
            b #{message.errMsg}
      block content
    include footer